
body, html {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 50px; 
    position: relative; 
}

h1 {
    margin-left: 120px;
    margin-bottom: 121px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

h2 {
    margin-left: 120px;
    margin-bottom: 0a;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 50px;
    position: relative;
    z-index: 1;
}


.line {
    width: 1px;
    height: 876px;
    background-color: #000;
    
    position: absolute; 
    left: 50%;
    top: 53px; 
    transform: translateX(-50%);
    z-index: -1; 
}

.grid-wrapper{
    display: flex;
    flex-direction: row;
    
    
}
.grid-container{
    width: 851px;
    height: 634px;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 14px;

    flex-shrink: 0;      
    margin-top: -60px;   
    margin-left: 120px; 
    margin-right: 5px; 
    position: relative;
    z-index: 1;
    
}

[class^="item"] {
    width: 100%;       
    height: 200px;
    
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat; 
}

.item1{
    background-image: url('pictures/img2.jpg');
    grid-column-start: 3;
}
.item2{
    background-image: url('pictures/img8.jpg');
    grid-column-start: 2;
}
.item3{
    background-image: url('pictures/img4.jpg');
    grid-column-start: 1;
}
.item4{
    background-image: url('pictures/img5.jpg');
    grid-column-start: 3;
}

.grid-container2{
    width: 630px;
    height: 844px;


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;

    position: relative; 
    z-index: 10;

    flex-shrink: 0;      
    margin-top: -300px;    
    margin-left: 70px;
    
}
  
.item5{
    background-image: url('pictures/img1.jpg');
}
.item6{
    background-image: url('pictures/img3.jpg');
    grid-row-start: 2;
    grid-column-start:2 ;
    
}
.item7{
    background-image: url('pictures/img6.jpg');
    grid-row-start: 3;
}
.item8{
    background-image: url('pictures/img7.jpg');
    grid-row-start: 4;
    grid-column-start: 2;
}