h1{
    display: flex;
    width: 1269px;
    justify-self: center;
    margin-top: 103px;

    font-family: Roboto;
    font-weight: 500;
    font-style: medium;
    font-size: 50px;
}
.grid-container{
    width: 1269px;
    height: 648px;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 23px;
    margin: 0 auto;
}
[class^="item"] {
    width: 100%;       
    height: 200px;
    
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat; 
}
.item1{
   background-image: url('pictures/img1.jpg');
   grid-column: span 2;
}
.item2{
    background-image:url('pictures/img2.jpg');
    
}
.item3{
    background-image:url('pictures/img3.jpg');
    grid-column-start: 3;
    grid-row-start:1 ;
}
.item4{
    background-image: url('pictures/img4.jpg');
    grid-column-start: 4;
    grid-row-start: 1;
    
}
.item5{
    background-image: url('pictures/img5.jpg');
    grid-row-start:2 ;
    
}
.item6{
    background-image: url('pictures/img6.jpg');
    grid-column-start: 2 ;
    grid-row:2/4;
    height: 100%;
}
.item7{
    background-image: url('pictures/img7.jpg');
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end:5 ;
    
}
.item8{
    background-image: url('pictures/img8.jpg');
    grid-row-start: 3;
    grid-column-start: 4;
}
.item9{
    background-image: url('pictures/img9.jpg');
}